<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ rezept.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"/>
  </head>

  <body>
    <section class="hero" style="background-color: {{ theme.farbe }};">
      <div class="hero-body">
        <h1 class="title is-2">{{ rezept.title }}</h1>
        <p class="subtitle">
          {{ rezept.portionen }} Portionen · {{ rezept.zubereitungszeit }}
        </p>
      </div>
    </section>

    <section class="section">
        {% if rezept.bild %}
        <figure class="image mb-5">
            <img src="/static/{{ rezept.bild }}" alt="{{ rezept.title }}">
        </figure>
        {% endif %}

      <div class="columns">
        <div class="column is-half">
          <h2 class="title is-4">Zutaten</h2>
          <ul>
            {% for zutat in rezept.zutaten %}
            <li> {{ zutat.menge }} {{ zutat.einheit.value }} {{ zutat.name }} </li>
            {% endfor %}
          </ul>
        </div>
        <div class="column is-half">
            <h2 class="title is-4">Zubereitung</h2>
            <ol>
                {% for schritt in rezept.schritte %}
                <li>{{ schritt.text }}</li>
                {% endfor %}
            </ol>
        </div>
      </div>

      <div class="tags">
        {% for rk in rezept.kategorien_db %}
        <span class="tag is-medium">{{ rk.kategorie }}</span>
        {% endfor %}
      </div>

      <!-- Edit & Delete Button -->
      <div class="button mt-5">
        <a href="/" class="button is-light">Zurück</a>
        <a href="/rezepte/{{ rezept.id }}/edit" class="button is-warning">Bearbeiten</a>
        <form method="post" action="/rezepte/{{ rezept.id }}/loeschen"
            onsubmit="return confirm('Rezept wirklich löschen?');"
            style="display: inline;">
            <button type="submit" class="button is-danger">Rezept löschen</button>
        </form>
      </div>
    </section>
  </body>
</html>
